
# CONFIGURACOES DO BANCO DE DADOS
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/enderecos
    username: admin
    password: admin
  hikari:
    maximum-pool-size: 10
    minimum-idle: 1
    idle-timeout: 30000

  # CONFIGURACOES JPA
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
  instance:
    hostname: localhost